In [9]:
# pip install mysql-connector-python

In [10]:
# pip install -U googlemaps

In [11]:
# pip install geopy

In [17]:
import mysql.connector
import random
from random import choice,randint
import datetime
import calendar
import googlemaps
from geopy.distance import geodesic
import math

In [40]:
db_config={
    'host': 'localhost',
    'user': 'root',
    'password': 'mysql',
    'database': 'custos_transporte'
}

In [41]:
conn = mysql.connector.connect(**db_config)
cursor = conn.cursor()

In [25]:
# Função para gerar uma data aleatória dentro do ano de 2023

def random_date():
    year = 2023
    month = random.randint(1,12)

    days_month = calendar.monthrange(year, month)[1]
    day = random.randint(1,days_month)
    return datetime.datetime(year, month, day)

In [13]:
# função para retornar dados de uma localização passando um endereço como parametro

def getLocation(address):
    gmaps = googlemaps.Client(key='')    #inserir chave pessoal da api
    geocode_result = gmaps.geocode(address)
    return geocode_result


# Função para extrair a longitude e latitude de dois endereços e calcular a distância em km entre eles

def calcDistance(addres1, addres2):

    location1 = getLocation(addres1)
    location2 = getLocation(addres2)
    lat1 = location1[0]['geometry']['location']['lat']
    long1 = location1[0]['geometry']['location']['lng']

    lat2 = location2[0]['geometry']['location']['lat']
    long2 = location2[0]['geometry']['location']['lng']

    origem = (lat1, long1)
    destino = (lat2, long2)
    distance = geodesic(origem, destino).kilometers   
    return distance

In [42]:
# Pegando todos os id_modal do mysql da tabela modal e armazenando em uma variável
cursor.execute("SELECT id_modal FROM modal")
modal = cursor.fetchall()

# Pegando todos os id_cd do mysql da tabela modal e armazenando em uma variável
cursor.execute("SELECT id_cd FROM centro_distribuicao")
cd = cursor.fetchall()

# Pegando todos os id_cliente do mysql da tabela cliente e armazenando em uma variavel
cursor.execute("SELECT id_cliente FROM cliente")
clientes = cursor.fetchall()

# função para pegar a lista de aviões produzidos
cursor.execute("SELECT id_aviao FROM producao_aviao")
aviao = cursor.fetchall()

# Pegando todos os id_fornecedor do mysql da tabela fornecedor e armazenando em uma variavel
cursor.execute("SELECT id_fornecedor FROM fornecedor")
fornecedor = cursor.fetchall()

In [15]:
# Função para definir o modal
# Se a distancia passada como parametro for menor que 1000 ele retorna o id na posição [0] da variavel modal
# Se for maior, ele retorna aleatoriamente entre os outros dois ids da minha variavel modal

def setModal(distance):
    if distance < 1000:
        mod = modal[0]
        return mod
    else:
        mod = choice(modal[-2:])
        return mod

In [ ]:
# Função que vai gerar 500 registros aleatorios e inserir no mysql na minha tabela compra_materia_prima

    
def compra_aleatoria():

    for _ in range(500):
        id = None
        date = random_date()
        forn = choice(fornecedor)[0]
        
        # Pegando no mysql o id do endereço, considerando o id do fornecedor gerado na variavel forn e armazenando o resultado na variavel origem
        cursor.execute("SELECT id_endereco_fornecedor FROM endereco_fornecedor WHERE fornecedor_id_fornecedor = %s", (forn,)) 
        origem = cursor.fetchone()[0]

        #escolhendo um cd aleatorio da minha variavel destino
        destino = choice(cd)[0]

        # Pegando no mysql a cidade, estado e país do meu fornecedor e armazenando na variavel endereco_origem
        cursor.execute("SELECT CONCAT(cidade_fornecedor, ', ', estado_fornecedor, ', ' ,  pais_fornecedor)  FROM endereco_fornecedor WHERE id_endereco_fornecedor = %s ", (origem,))
        endereco_origem = cursor.fetchall()

        # Pegando no mysql a cidade, estado e país do destino e armazenando na variavel endereco_destino
        cursor.execute("SELECT CONCAT(cidade_cd, ', ', estado_cd,  ', ', pais_cd) FROM centro_distribuicao WHERE id_cd = %s ", (destino,))
        endereco_destino = cursor.fetchall()

        # Calculando a distancia entre o endereço origem e o endereço_destino
        distancia = round(calcDistance(endereco_origem, endereco_destino),2)

        # Executando a função para setar o modal
        mod = setModal(distancia)[0]

        # inserindo todas essas variáveis geradas na minha tabela no mysql
        insert_query = "INSERT INTO compra_materia_prima (id_compra, data_compra, distancia, fornecedor_id_fornecedor, modal_id_modal,endereco_fornecedor_id_endereco_fornecedor,centro_distribuicao_id_cd ) VALUES (%s, %s, %s, %s, %s, %s, %s);"
        data = (id, date,distancia, forn, mod, origem, destino)
        cursor.execute(insert_query, data)

    conn.commit()


# compra_aleatoria()

cursor.close()
conn.close()

In [74]:
# função para gerar 500 registros aleatorios de Entrega do produto final ao cliente
def entrega_aviao():
    for _ in range(500):
        id = None
        date = random_date()

        
        modal = 2
        aviao_destino = choice(aviao)[0]
        cliente = choice(clientes)[0]

        origem = choice(cd)[0]

        # Pegando no mysql a cidade, estado e país do destino e armazenando na variavel endereco_origem
        cursor.execute("SELECT CONCAT(cidade_cd, ', ', estado_cd,  ', ', pais_cd) FROM centro_distribuicao WHERE id_cd = %s ", (origem,))
        endereco_origem = cursor.fetchall()
        
        
        # Pegando no mysql o id do endereço, considerando o id do cliente gerado na variavel cliente e armazenando o resultado na variavel destino
        cursor.execute("SELECT id_endereco_cliente FROM endereco_cliente WHERE cliente_id_cliente = %s", (cliente,)) 
        destino = cursor.fetchone()[0]

        # Pegando no mysql a cidade, estado e país do meu cliente e armazenando na variavel endereco_origem
        cursor.execute("SELECT CONCAT(cidade_cliente, ', ', estado_cliente, ', ' ,  pais_cliente)  FROM endereco_cliente WHERE id_endereco_cliente = %s ", (destino,))
        endereco_destino = cursor.fetchone()[0]

        # Calculando a distancia entre o endereço origem e o endereço_destino
        distancia = round(calcDistance(endereco_origem, endereco_destino),2)
        

        # inserindo todas essas variáveis geradas na minha tabela no mysql
        insert_query = "INSERT INTO entrega_aviao (id_entrega, data_entrega, distancia, modal_id_modal, producao_aviao_id_aviao, cliente_id_cliente, endereco_cliente_id_endereco_cliente, centro_distribuicao_id_cd) VALUES (%s, %s, %s, %s, %s, %s, %s, %s);"
        data = (id, date, distancia,modal, aviao_destino, cliente, destino, origem)
        cursor.execute(insert_query, data)

    conn.commit()


# entrega_aviao()

cursor.close()
conn.close()

In [116]:

# função para gerar 500 registros aleatorios de logistica interna
def logistica_interna():
    for _ in range(500):
        id = None
        date = random_date()

       

        cd_origem = choice(cd)[0]
        cursor.execute("SELECT CONCAT(cidade_cd, ', ', estado_cd,  ', ', pais_cd) FROM centro_distribuicao WHERE id_cd = %s ", (cd_origem,))
        endereco_cd_origem = cursor.fetchone()[0]


        cd_destino = choice(cd)[0]

        while cd_destino == cd_origem:
            cd_destino = choice(cd)[0]
            


        cursor.execute("SELECT CONCAT(cidade_cd, ', ', estado_cd,  ', ', pais_cd) FROM centro_distribuicao WHERE id_cd = %s ", (cd_destino,))
        endereco_cd_destino = cursor.fetchone()[0]

        distancia = round(calcDistance(endereco_cd_origem, endereco_cd_destino),2)

        modal = setModal(distancia)[0]

        

        # inserindo todas essas variáveis geradas na minha tabela no mysql
        insert_query = "INSERT INTO logistica_interna (id_transferencia, data_transferencia, distancia, modal_id_modal, centro_distribuicao_id_cd, centro_distribuicao_id_cd1) VALUES (%s, %s, %s, %s, %s, %s);"
        data = (id, date, distancia,modal, cd_origem, cd_destino)
        cursor.execute(insert_query, data)

    conn.commit()

# logistica_interna()

cursor.close()
conn.close()

In [16]:
# função para gerar 500 registros aleatorios de suporte
def suporte():
    for _ in range(500):
        id = None
        date = random_date()


        cliente = choice(clientes)[0]

        cd_origem = choice(cd)[0]
        cursor.execute("SELECT CONCAT(cidade_cd, ', ', estado_cd,  ', ', pais_cd) FROM centro_distribuicao WHERE id_cd = %s ", (cd_origem,))
        endereco_cd_origem = cursor.fetchone()[0]


        
        cursor.execute("SELECT id_endereco_cliente FROM endereco_cliente WHERE cliente_id_cliente = %s", (cliente,)) 
        destino = cursor.fetchone()[0]

        # Pegando no mysql a cidade, estado e país do meu cliente e armazenando na variavel endereco_destino
        cursor.execute("SELECT CONCAT(cidade_cliente, ', ', estado_cliente, ', ' ,  pais_cliente)  FROM endereco_cliente WHERE id_endereco_cliente = %s ", (destino,))
        endereco_destino = cursor.fetchall()
        

        distancia = round(calcDistance(endereco_cd_origem, endereco_destino ),2)

        
        modal = setModal(distancia)[0]

        

        # inserindo todas essas variáveis geradas na minha tabela no mysql
        insert_query = "INSERT INTO suporte(id_suporte, data_suporte, modal_id_modal, centro_distribuicao_id_cd,endereco_cliente_id_endereco_cliente,cliente_id_cliente, distancia  ) VALUES (%s, %s, %s, %s, %s, %s, %s);"
        data = (id, date, modal, cd_origem, destino, cliente, distancia)
        cursor.execute(insert_query, data)

    conn.commit()

suporte()

cursor.close()
conn.close()

In [43]:
# Função para calcular o valor do custo

def calcCusto(distancia, id_custo):
   if(id_custo==1):
      return round(distancia*0.559,2)
   elif(id_custo==2):
      return round(distancia*0.15,2)
   elif(id_custo==3):
      return round((distancia/100)*30,2)
   elif(id_custo==4):
      return round(distancia * 0.1,2)
   elif(id_custo==5):
      return round(distancia * 0.02,2)
   elif(id_custo==6):
      return round(distancia * 7.87,2)
   elif(id_custo==7):
      aluguel_carro_dias = math.ceil(((distancia*2)/80)/24)
      return round(aluguel_carro_dias * 170,2)
   elif(id_custo==8):
      aluguel_caminhao_dias = math.ceil(((distancia*2)/80)/24)
      return round(aluguel_caminhao_dias * 250,2)
   elif(id_custo==9):
      return round(distancia * 0.17,2)

In [44]:
def calcCustoAereo(distancia, id_custo):
   if(id_custo==1):
      return round(distancia*9*5.3,2)
   elif(id_custo==2):
      return round((distancia/850)*4500,2)
   elif(id_custo==4):
      return round(distancia * 4,2)
   elif(id_custo==5): 
      return round(distancia * 0.3,2)

In [45]:
# Pegando os custos no mysql
cursor.execute("SELECT id_custo FROM custo_transporte")
custos_terrestre = cursor.fetchall()

cursor.execute("SELECT id_custo FROM custo_transporte WHERE id_custo IN(1,2,4,5)")
custos_aereos = cursor.fetchall()

cursor.execute("SELECT id_custo FROM custo_transporte WHERE id_custo IN(4,5,6,9)")
custos_aereo_maritimo = cursor.fetchall()

In [ ]:
# Pegando o id de todas as compras de materia prima no mysql
cursor.execute("SELECT id_compra FROM compra_materia_prima")
compra_mat_prima = cursor.fetchall()




# Função para gerar custos aleatórios
def custo_compra():

    for _ in range(1500):
        id = None
        id_compra = choice(compra_mat_prima)[0]

        cursor.execute("SELECT modal_id_modal FROM compra_materia_prima WHERE id_compra=%s", (id_compra,))
        modal = cursor.fetchone()[0]


        if(modal==1):
            id_custo = choice(custos_terrestre)[0]
        else:
            id_custo = choice(custos_aereo_maritimo)[0]

        # Pegando a distancia da compra que gerou aleatoriamente
        cursor.execute("SELECT distancia FROM compra_materia_prima where id_compra=%s",(id_compra,))
        distancia = cursor.fetchone()[0]

        valor_custo = calcCusto(distancia, id_custo)

        # inserindo todas essas variáveis geradas na minha tabela no mysql
        insert_query = "INSERT INTO custo_compra (num_seq,compra_materia_prima_id_compra,custo_transporte_id_custo,valor_custo) VALUES (%s, %s, %s, %s);"
        data = (id, id_compra, id_custo, valor_custo)
        cursor.execute(insert_query, data)


    conn.commit()
    
# custo_compra()

cursor.close()
conn.close()

In [32]:
# Pegando o id de todas as entregas de aviao no mysql
cursor.execute("SELECT id_entrega FROM entrega_aviao")
entrega_aviao = cursor.fetchall()

def calcCustoAereo(distancia, id_custo):
   if(id_custo==1):
      return round(distancia*9*5.3,2)
   elif(id_custo==2):
      return round((distancia/850)*4500,2)
   elif(id_custo==4):
      return round(distancia * 4,2)
   elif(id_custo==5): 
      return round(distancia * 0.3,2)


# Função para gerar custos aleatórios
def custo_entrega():

    for _ in range(1500):
        id = None
        id_entrega = choice(entrega_aviao)[0]

        id_custo = choice(custos_aereos)[0]


        # Pegando a distancia da entrega que gerou aleatoriamente
        cursor.execute("SELECT distancia FROM entrega_aviao where id_entrega=%s",(id_entrega,))
        distancia = cursor.fetchone()[0]

        valor_custo = calcCustoAereo(distancia, id_custo)

        # inserindo todas essas variáveis geradas na minha tabela no mysql
        insert_query = "INSERT INTO custo_entrega(num_seq,entrega_aviao_id_entrega,custo_transporte_id_custo,valor_custo) VALUES (%s, %s, %s, %s);"
        data = (id, id_entrega, id_custo, valor_custo)
        cursor.execute(insert_query, data)


    conn.commit()
    
# custo_entrega()

cursor.close()
conn.close()

In [39]:
# Pegando o id de todas as logisticas internas no mysql
cursor.execute("SELECT id_transferencia FROM logistica_interna")
transferencias = cursor.fetchall()


# Função para gerar custos aleatórios
def custo_logistica_interna():

    for _ in range(1500):
        id = None
        id_transf = choice(transferencias)[0]
         
        cursor.execute("SELECT modal_id_modal FROM logistica_interna WHERE id_transferencia=%s", (id_transf,))
        modal = cursor.fetchone()[0]

        if(modal==1):
            id_custo = choice(custos_terrestre)[0]
        else:
            id_custo = choice(custos_aereos)[0]
        


        # Pegando a distancia da transferencia que gerou aleatoriamente
        cursor.execute("SELECT distancia FROM logistica_interna where id_transferencia=%s",(id_transf,))
        distancia = cursor.fetchone()[0]

        if(modal==1):
            valor_custo = calcCusto(distancia, id_custo)
        else:
            valor_custo = calcCustoAereo(distancia, id_custo)


        # inserindo todas essas variáveis geradas na minha tabela no mysql
        insert_query = "INSERT INTO custo_logistica_interna(num_seq,logistica_interna_id_transferencia, custo_transporte_id_custo,valor_custo) VALUES (%s, %s, %s, %s);"
        data = (id, id_transf, id_custo, valor_custo)
        cursor.execute(insert_query, data)


    conn.commit()
    
# custo_logistica_interna()

cursor.close()
conn.close()

In [46]:
# Pegando o id de todos os suportes no mysql
cursor.execute("SELECT id_suporte FROM suporte")
suportes = cursor.fetchall()


# Função para gerar custos aleatórios
def custo_suporte():

    for _ in range(1500):
        id = None
        id_suporte = choice(suportes)[0]
         
        cursor.execute("SELECT modal_id_modal FROM suporte WHERE id_suporte=%s", (id_suporte,))
        modal = cursor.fetchone()[0]

        if(modal==1):
            id_custo = choice(custos_terrestre)[0]
        elif(modal==2):
            id_custo = choice(custos_aereos)[0]
        elif(modal==3):
            id_custo = choice(custos_aereo_maritimo)[0]
        


        # Pegando a distancia da transferencia que gerou aleatoriamente
        cursor.execute("SELECT distancia FROM suporte where id_suporte=%s",(id_suporte,))
        distancia = cursor.fetchone()[0]

        if(modal==1):
            valor_custo = calcCusto(distancia, id_custo)
        elif(modal==2):
            valor_custo = calcCustoAereo(distancia, id_custo)
        elif(modal==3):
            valor_custo = calcCusto(distancia,id_custo)


        # inserindo todas essas variáveis geradas na minha tabela no mysql
        insert_query = "INSERT INTO custo_suporte(num_seq,suporte_id_suporte,custo_transporte_id_custo,valor_custo) VALUES (%s, %s, %s, %s);"
        data = (id, id_suporte, id_custo, valor_custo)
        cursor.execute(insert_query, data)


    conn.commit()
    
custo_suporte()

cursor.close()
conn.close()