In [5]:
# Importando as bibliotecas que serão utilizadas para popular as tabelas do projeto.

import pandas as pd
import pymysql as sql
import csv

In [6]:
# Lendo o arquivo .csv

df_modal = pd.read_csv('modal.csv', delimiter=';')
df_modal.head()

   id_modal  descricao_modal
0          1       Terrestre
1          2           Aéreo
2          3        Marítimo

In [7]:
# Criando conexão com banco de dados

conexao = sql.connect(host='localhost', user='root', password='admin', database='custos_transporte')

In [ ]:

cursor = conexao.cursor()

for index, row in df_modal.iterrows():
    sql = "INSERT INTO modal (id_modal, descricao_modal) VALUES (%s, %s)"
    val = (row['id_modal'],row['descricao_modal'])
    cursor.execute(sql, val)
    conexao.commit()
cursor.close()
conexao.close()