In [8]:
# Importando as bibliotecas que serão utilizadas para popular as tabelas do projeto.

import pandas as pd
import pymysql as sql
import csv

In [3]:
# Lendo o arquivo .csv

df_tab_fornecedor = pd.read_csv('tab_fornecedor.csv', delimiter=';')
df_tab_fornecedor.head()

,cod_fornecedor,cnpj_fornecedor,nome_fornecedor
0,1,42.035.097/0002-07,ELEB EQUIPAMENTOS LTDA.
1,2,00.332.087/0001-02,RITTER CONSULTORIA E PROJETOS LTDA.
2,3,13.237.931/0001-50,AGS AEROHOSES INDÚSTRIA AERONÁUTICA COMÉRCIO E...
3,4,72.581.283/0001-13,GOODYEAR DO BRASIL PRODUTOS DE BORRACHA LTDA.
4,5,09.453.646/0001-07,ACK TECHNOLOGIES INC.

In [9]:
# Criando conexão com banco de dados

conexao = sql.connect(host='localhost', user='root', password='admin', database='projetointegrador')

In [10]:
# Criando um cursor e executando um loop no dataframe para fazer o INSERT no banco de dados

cursor = conexao.cursor()

for index, row in df_tab_fornecedor.iterrows():
    sql = "INSERT INTO tab_fornecedor (cod_fornecedor, cnpj_fornecedor, nome_fornecedor) VALUES (%s, %s, %s)"
    val = (row['cod_fornecedor'],row['cnpj_fornecedor'],row['nome_fornecedor'])
    cursor.execute(sql, val)
    conexao.commit()
cursor.close()
conexao.close()