In [6]:
# Importando as bibliotecas que serão utilizadas para popular as tabelas do projeto.

import pandas as pd
import pymysql as sql
import csv

In [7]:
# Lendo o arquivo .csv

df_materia_prima = pd.read_csv('materia_prima.csv', delimiter=';')
df_materia_prima.head()

   cod_materia_prima descricao_materia_prima
0                579             Amortecedor
1                581        Atuador de Porta
2                583      Atuador Hidráulico
3                595        Relé de Proteção
4                599       Válvula de Alívio

In [9]:
# Criando conexão com banco de dados

conexao = sql.connect(host='localhost', user='root', password='admin', database='custos_transporte')

In [10]:
# Criando um cursor e executando um loop no dataframe para fazer o INSERT no banco de dados

cursor = conexao.cursor()

for index, row in df_materia_prima.iterrows():
    sql = "INSERT INTO materia_prima (cod_materia_prima, descricao_materia_prima) VALUES (%s, %s)"
    val = (row['cod_materia_prima'],row['descricao_materia_prima'])
    cursor.execute(sql, val)
    conexao.commit()
cursor.close()
conexao.close()