In [7]:
# Importando as bibliotecas que serão utilizadas para popular as tabelas do projeto.

import pandas as pd
import pymysql as sql
import csv

In [8]:
# Lendo o arquivo .csv

df_cliente = pd.read_csv('clientes.csv', delimiter=';')
df_cliente.head()

   id_cliente        cnpj_cliente           nome_cliente
0        1746  86.827.637/0001-84  Trans States Airlines
1        1596  44.504.228/0001-90          Mesa Airlines
2        3408  28.633.702/0001-02     Aeroméxico Connect
3        1618  52.475.301/0001-09       Republic Airways
4        1561  65.948.451/0001-73              Envoy Air

In [9]:
# Cria conexão com MySQL, passando os parâmetros(servidor, senha e database)

conexao = sql.connect(host='localhost', user='root', password='admin', database='custos_transporte')

In [10]:
# Criando um cursor e executando um loop no dataframe para fazer o INSERT no banco de dados

cursor = conexao.cursor()

for index, row in df_cliente.iterrows():
    sql = "INSERT INTO cliente (id_cliente, cnpj_cliente, nome_cliente) VALUES (%s, %s, %s)"
    val = (row['id_cliente'],row['cnpj_cliente'],row['nome_cliente'])
    cursor.execute(sql, val)
    conexao.commit()
cursor.close()
conexao.close()