In [1]:
# Importando as bibliotecas que serão utilizadas para popular as tabelas do projeto.

import pandas as pd
import pymysql as sql
import csv

In [2]:
# Lendo o arquivo .csv

df_fornecedor = pd.read_csv('fornecedor.csv', delimiter=';')
df_fornecedor.head()

,id_fornecedor,cnpj_fornecedor,nome_fornecedor
0,100300,42.035.097/0002-07,ELEB EQUIPAMENTOS LTDA.
1,100301,00.332.087/0001-02,RITTER CONSULTORIA E PROJETOS LTDA.
2,100302,13.237.931/0001-50,AGS AEROHOSES INDÚSTRIA AERONÁUTICA COMÉRCIO E...
3,100303,72.581.283/0001-13,GOODYEAR DO BRASIL PRODUTOS DE BORRACHA LTDA.
4,100304,09.453.646/0001-07,ACK TECHNOLOGIES INC.

In [3]:
# Criando conexão com banco de dados

conexao = sql.connect(host='localhost', user='root', password='admin', database='custos_transporte')

In [4]:
# Criando um cursor e executando um loop no dataframe para fazer o INSERT no banco de dados

cursor = conexao.cursor()

for index, row in df_fornecedor.iterrows():
    sql = "INSERT INTO fornecedor (id_fornecedor, cnpj_fornecedor, nome_fornecedor) VALUES (%s, %s, %s)"
    val = (row['id_fornecedor'],row['cnpj_fornecedor'],row['nome_fornecedor'])
    cursor.execute(sql, val)
    conexao.commit()
cursor.close()
conexao.close()