In [12]:
# Importando as bibliotecas que serão utilizadas para popular as tabelas do projeto.

import pandas as pd
import pymysql as sql
import csv

In [13]:
# Lendo o arquivo .csv

df_compra_materia_prima = pd.read_csv('tabelas csv/compra_materia_prima.csv', delimiter=';')
df_compra_materia_prima.head()

,id_compra,data_compra,distancia,fornecedor_id_fornecedor,modal_id_modal,endereco_fornecedor_id_endereco_fornecedor,centro_distribuicao_id_cd
0,1,2023-08-09 00:00:00,1712.66,100362,2,63,4
1,2,2023-05-12 00:00:00,9182.44,100317,2,18,3
2,3,2023-04-27 00:00:00,7287.16,100319,3,20,4
3,4,2023-05-04 00:00:00,6841.53,100326,2,27,1
4,5,2023-06-29 00:00:00,7982.65,100348,3,49,2

In [14]:
# Cria conexão com MySQL, passando os parâmetros(servidor, senha e database)

conexao = sql.connect(host='localhost', user='root', password='admin', database='custos_transporte')

In [15]:
# Criando um cursor e executando um loop no dataframe para fazer o INSERT no banco de dados

cursor = conexao.cursor()

for index, row in df_compra_materia_prima.iterrows():
    sql = "INSERT INTO compra_materia_prima (id_compra, data_compra, distancia, fornecedor_id_fornecedor, modal_id_modal, endereco_fornecedor_id_endereco_fornecedor, centro_distribuicao_id_cd) VALUES (%s, %s, %s, %s, %s, %s, %s)"
    val = (row['id_compra'],row['data_compra'],row['distancia'],row['fornecedor_id_fornecedor'],row['modal_id_modal'],row['endereco_fornecedor_id_endereco_fornecedor'],row['centro_distribuicao_id_cd'])
    cursor.execute(sql, val)
    conexao.commit()
cursor.close()
conexao.close()