In [6]:
# Importando as bibliotecas que serão utilizadas para popular as tabelas do projeto.

import pandas as pd
import pymysql as sql
import csv

In [7]:
# Lendo o arquivo .csv

df_endereco_cliente = pd.read_csv('endereco_cliente.csv', delimiter=';')
df_endereco_cliente.head()

,id_endereco_cliente,rua_cliente,num_cliente,bairro_cliente,cep_cliente,cidade_cliente,estado_cliente,pais_cliente,cliente_id_cliente
0,1,Navaid Road Suite,340,Bridgeton,63044,St. Louis,Missouri,Estados Unidos,1746
1,2,44th St,410,Arcadia,85008,Phoenix,Arizona,Estados Unidos,1596
2,3,Calzada Zavaleta Local,2503,Santa Cruz Buena Vista,72150,Puebla,Puebla,México,3408
3,4,Purdue Road,300,Purdue,8909,Indianápolis,Indiana,Estados Unidos,1618
4,5,Regent Boulevard,4301,Boulevard,75014,Irving,Texas,Estados Unidos,1561

In [8]:
# Criando conexão com banco de dados

conexao = sql.connect(host='localhost', user='root', password='admin', database='custos_transporte')

In [9]:
# Criando um cursor e executando um loop no dataframe para fazer o INSERT no banco de dados

cursor = conexao.cursor()

for index, row in df_endereco_cliente.iterrows():
    sql = "INSERT INTO endereco_cliente (id_endereco_cliente, rua_cliente, num_cliente, bairro_cliente, cep_cliente, cidade_cliente, estado_cliente, pais_cliente, cliente_id_cliente) VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s)"
    val = (row['id_endereco_cliente'],row['rua_cliente'],row['num_cliente'],row['bairro_cliente'],row['cep_cliente'],row['cidade_cliente'],row['estado_cliente'],row['pais_cliente'],row['cliente_id_cliente'] )
    cursor.execute(sql, val)
    conexao.commit()
cursor.close()
conexao.close()