In [1]:
# Importando as bibliotecas que serão utilizadas para popular as tabelas do projeto.

import pandas as pd
import pymysql as sql
import csv

In [2]:
# Lendo o arquivo .csv

df_endereco_fornecedor = pd.read_csv('endereco_fornecedor.csv', delimiter=';')
df_endereco_fornecedor.head()

,id_endereco_fornecedor,rua_fornecedor,num_fornecedor,bairro_fornecedor,cep_fornecedor,cidade_fornecedor,estado_fornecedor,pais_fornecedor,fornecedor_id_fornecedor
0,1,Avenida da Integracao,927,Vila Eduardo,12237-540,São José dos Campos,SP,Brasil,100300
1,2,Av Brasil,779,Jardim America,01.431-000,Sao Paulo,SP,Brasil,100301
2,3,R Ponte Alta,463,Sagrado Coracao de Jesus,35.574-396,Formiga,MG,Brasil,100302
3,4,ST SHIS QI 11 BLOCO I,SN,Setor de Habitacoes,71.625-580,Brasilia,DF,Brasil,100303
4,5,AV SAO LUIS REI DE FRANCA,325,NaN,95054,Santa Clara,CA,EUA,100304

In [3]:
# Criando conexão com banco de dados

conexao = sql.connect(host='localhost', user='root', password='admin', database='custos_transporte')

In [4]:
# Criando um cursor e executando um loop no dataframe para fazer o INSERT no banco de dados

cursor = conexao.cursor()

for index, row in df_endereco_fornecedor.iterrows():
    sql = "INSERT INTO endereco_fornecedor (id_endereco_fornecedor, rua_fornecedor, num_fornecedor, bairro_fornecedor, cep_fornecedor, cidade_fornecedor, estado_fornecedor, pais_fornecedor, fornecedor_id_fornecedor) VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s)"
    val = (row['id_endereco_fornecedor'],row['rua_fornecedor'],row['num_fornecedor'],row['bairro_fornecedor'],row['cep_fornecedor'],row['cidade_fornecedor'],row['estado_fornecedor'],row['pais_fornecedor'],row['fornecedor_id_fornecedor'] )
    cursor.execute(sql, val)
    conexao.commit()
cursor.close()
conexao.close()

IntegrityError: (1452, 'Cannot add or update a child row: a foreign key constraint fails (`custos_transporte`.`endereco_fornecedor`, CONSTRAINT `fk_endereco_fornecedor_fornecedor1` FOREIGN KEY (`fornecedor_id_fornecedor`) REFERENCES `fornecedor` (`id_fornecedor`))')