In [50]:
from random import randint, choice
import mysql.connector

In [51]:

conexao = mysql.connector.connect(
    host='localhost',
    user='root',
    password='admin',
    database='custos_transporte'
)

In [52]:
cursor = conexao.cursor()

# Pegando todos os id_compra_materia_prima do MySQL da tabela compra_materia_prima e armazenando em uma variável
cursor.execute("SELECT id_compra FROM compra_materia_prima")
compra_materia_prima = cursor.fetchall()

# Pegando todos os cod_materia_prima do MySQL da tabela materia_prima e armazenando em uma variável
cursor.execute("SELECT cod_materia_prima FROM materia_prima")
materia_prima = cursor.fetchall()

# Pegando todos os id_modelo do MySQL da tabela modelo_aviao e armazenando em uma variável
cursor.execute("SELECT id_aviao FROM producao_aviao")
producao_aviao = cursor.fetchall()

In [53]:
cursor = conexao.cursor()

# Função que vai gerar 500 registros aleatórios e inserir no MySQL na tabela item_compra
def item_compra():
    nums_seq_existentes = set()
      
    for _ in range(500):
        num_seq = randint(1, 501)
        
        while num_seq in nums_seq_existentes:
            num_seq = randint(1, 501)

            nums_seq_existentes.add(num_seq)
        quantidade = randint(5, 50)

        # Pegando IDs aleatórios das tabelas
        compra_materia_prima_id_compra = choice(compra_materia_prima)[0]
        materia_prima_cod_materia_prima = choice(materia_prima)[0]
        producao_aviao_id_aviao = choice(producao_aviao)[0]

        # Pegando IDs das tabelas compra_materia_prima, materia_prima e modelo_aviao
        cursor.execute("SELECT id_compra FROM compra_materia_prima WHERE id_compra = %s", (compra_materia_prima_id_compra,))
        compra_materia_prima_id_compra = cursor.fetchone()[0]

        cursor.execute("SELECT cod_materia_prima FROM materia_prima WHERE cod_materia_prima = %s", (materia_prima_cod_materia_prima,))
        materia_prima_cod_materia_prima = cursor.fetchone()[0]

        cursor.execute("SELECT id_aviao FROM producao_aviao WHERE id_aviao = %s", (producao_aviao_id_aviao,))
        producao_aviao_id_aviao = cursor.fetchone()[0]

        # Inserindo dados na tabela
        insert_query = "INSERT INTO item_compra (num_seq, compra_materia_prima_id_compra, materia_prima_cod_materia_prima, quantidade, producao_aviao_id_aviao) VALUES (%s, %s, %s, %s, %s);"
        data = (num_seq, compra_materia_prima_id_compra, materia_prima_cod_materia_prima, quantidade, producao_aviao_id_aviao)
        cursor.execute(insert_query, data)

    conexao.commit()

# Chamando a função para gerar os registros
item_compra()

# Fechando a conexão
cursor.close()
conexao.close()

IntegrityError: 1062 (23000): Duplicate entry '239' for key 'item_compra.PRIMARY'