In [1]:
# Importando as bibliotecas que serão utilizadas para popular as tabelas do projeto.

import pandas as pd
import pymysql as sql
import csv

In [2]:
# Lendo o arquivo .csv

df_tab_centro_distribuicao = pd.read_csv('tab_centro_distribuicao.csv', delimiter=';')
df_tab_centro_distribuicao.head()

,cod_cd,rua_cd,num_cd,bairro_cd,cep_cd,cidade_cd,estado_cd,pais_cd
0,1,"Rodovia Presidente Dutra, Distrito, km 134",180,Eugênio de Melo,12247-004,São José dos Campos,SP,Brasil
1,2,Estrada Municipal Euclides Martins,2170,Bairro Industrial,14813-000,Gavião Peixoto,SP,Brasil
2,3,Av. Alcides Cagliari,2281,Res. Indaiá,18606-855,Botucatu,SP,Brasil
3,4,General Aviation Drive,1205,NaN,32935,Melbourne,FL,USA
4,5,"Parque Da Indústria Aeronáutica De Évora, Herd...",1094,Horta das Figueiras,7005-797,Évora,EV,Portugal

In [3]:
# Criando conexão com banco de dados

conexao = sql.connect(host='localhost', user='root', password='admin', database='projetointegrador')

In [4]:
# Criando um cursor e executando um loop no dataframe para fazer o INSERT no banco de dados

cursor = conexao.cursor()

for index, row in df_tab_centro_distribuicao.iterrows():
    sql = "INSERT INTO tab_centro_distribuicao (cod_cd, rua_cd, num_cd, bairro_cd, cep_cd, cidade_cd, estado_cd, pais_cd) VALUES (%s, %s, %s, %s, %s, %s, %s, %s)"
    val = (row['cod_cd'],row['rua_cd'],row['num_cd'],row['bairro_cd'],row['cep_cd'],row['cidade_cd'],row['estado_cd'],row['pais_cd'])
    cursor.execute(sql, val)
    conexao.commit()
cursor.close()
conexao.close()

ProgrammingError: nan can not be used with MySQL