In [6]:
# Importando as bibliotecas que serão utilizadas para popular as tabelas do projeto.

import pandas as pd
import pymysql as sql
import csv

In [7]:
# Lendo o arquivo .csv

df_tab_endereco_clientes = pd.read_csv('tab_endereco_clientes.csv', delimiter=';')
df_tab_endereco_clientes.head()

,cod_endereco,rua_endereco,num_endereco,bairro_endereco,cep_endereco,cidade_endereco,estado_endereco,pais_endereco,cod_cliente
0,1,Navaid Road Suite,340,Bridgeton,63044,St. Louis,Missouri,Estados Unidos,1746
1,2,44th St,410,Arcadia,85008,Phoenix,Arizona,Estados Unidos,1596
2,3,Calzada Zavaleta Local,2503,Santa Cruz Buena Vista,72150,Puebla,Puebla,México,3408
3,4,Purdue Road,300,Purdue,8909,Indianápolis,Indiana,Estados Unidos,1618
4,5,Regent Boulevard,4301,Boulevard,75014,Irving,Texas,Estados Unidos,1561

In [8]:
# Criando conexão com banco de dados

conexao = sql.connect(host='localhost', user='root', password='admin', database='projetointegrador')

In [9]:
# Criando um cursor e executando um loop no dataframe para fazer o INSERT no banco de dados

cursor = conexao.cursor()

for index, row in df_tab_endereco_clientes.iterrows():
    sql = "INSERT INTO tab_endereco_clientes (cod_endereco, rua_endereco, num_endereco, bairro_endereco, cep_endereco, cidade_endereco, estado_endereco, pais_endereco, cod_cliente) VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s)"
    val = (row['cod_endereco'],row['rua_endereco'],row['num_endereco'],row['bairro_endereco'],row['cep_endereco'],row['cidade_endereco'],row['estado_endereco'],row['pais_endereco'],row['cod_cliente'] )
    cursor.execute(sql, val)
    conexao.commit()
cursor.close()
conexao.close()