In [1]:
# Importando as bibliotecas que serão utilizadas para popular as tabelas do projeto.

import pandas as pd
import pymysql as sql
import csv

In [2]:
# Lendo o arquivo .csv

df_tab_custos_transporte = pd.read_csv('tab_custos_transporte.csv', delimiter=';')
df_tab_custos_transporte.head()

   cod_custo       descricao
0          1     Combustivel
1          2      Manutencao
2          3         Pedagio
3          4          Seguro
4          5  Regulamentacao

In [3]:
# Criando conexão com banco de dados

conexao = sql.connect(host='localhost', user='root', password='admin', database='projetointegrador')

In [4]:

cursor = conexao.cursor()

for index, row in df_tab_custos_transporte.iterrows():
    sql = "INSERT INTO tab_custos_transporte (cod_custo, descricao) VALUES (%s, %s)"
    val = (row['cod_custo'],row['descricao'])
    cursor.execute(sql, val)
    conexao.commit()
cursor.close()
conexao.close()