In [12]:
# Importando as bibliotecas que serão utilizadas para popular as tabelas do projeto.

import pandas as pd
import pymysql as sql
import csv

In [13]:
# Lendo o arquivo .csv

df_tab_clientes = pd.read_csv('tab_clientes.csv', delimiter=';')
df_tab_clientes.head()

   cod_cliente           nome_cliente        cnpj_cliente
0         1746  Trans States Airlines  86.827.637/0001-84
1         1596          Mesa Airlines  44.504.228/0001-90
2         3408     Aeroméxico Connect  28.633.702/0001-02
3         1618       Republic Airways  52.475.301/0001-09
4         1561              Envoy Air  65.948.451/0001-73

In [14]:
# Cria conexão com MySQL, passando os parâmetros(servidor, senha e database)

conexao = sql.connect(host='localhost', user='root', password='admin', database='projetointegrador')

In [16]:
# Criando um cursor e executando um loop no dataframe para fazer o INSERT no banco de dados

cursor = conexao.cursor()

for index, row in df_tab_clientes.iterrows():
    sql = "INSERT INTO tab_clientes (cod_cliente, nome_cliente, cnpj_cliente) VALUES (%s, %s, %s)"
    val = (row['cod_cliente'],row['nome_cliente'],row['cnpj_cliente'])
    cursor.execute(sql, val)
    conexao.commit()
cursor.close()
conexao.close()