In [38]:
# Importando as bibliotecas que serão utilizadas para popular as tabelas do projeto.

import pandas as pd
import pymysql as sql
import csv

In [39]:
# Lendo o arquivo .csv

df_tab_endereco_fornecedor = pd.read_csv('tab_endereco_fornecedor.csv', delimiter=';')
df_tab_endereco_fornecedor.head()

,cod_endereco,rua_endereco,num_endereco,bairro_endereco,cep_endereco,cidade_endereco,estado_endereco,pais_endereco,cod_fornecedor
0,6,R Doutor Moncorvo Filho,259,NaN,33312-6645,Fort Lauderdale,FL,EUA,100305
1,7,R Juiz de Fora,1470,Santo Agostinho,30.180-061,Belo Horizonte,MG,Brasil,100306
2,8,Av Sao Joao,2375,NaN,91706,Irwindale,CA,EUA,100307
3,9,Q Quadra 1 Conjunto B,LT 16,NaN,91311,Chatsworth,CA,EUA,100308
4,10,R da Ametista,4380,NaN,60191,Wood Dale,IL,EUA,100309

In [40]:
# Criando conexão com banco de dados

conexao = sql.connect(host='localhost', user='root', password='admin', database='projetointegrador')

In [ ]:
# Criando um cursor e executando um loop no dataframe para fazer o INSERT no banco de dados

cursor = conexao.cursor()

for index, row in df_tab_endereco_fornecedor.iterrows():
    sql = "INSERT INTO tab_endereco_fornecedor (cod_endereco, rua_endereco, num_endereco, bairro_endereco, cep_endereco, cidade_endereco, estado_endereco, pais_endereco, cod_fornecedor) VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s)"
    val = (row['cod_endereco'],row['rua_endereco'],row['num_endereco'],row['bairro_endereco'],row['cep_endereco'],row['cidade_endereco'],row['estado_endereco'],row['pais_endereco'],row['cod_fornecedor'] )
    cursor.execute(sql, val)
    conexao.commit()
cursor.close()
conexao.close()