In [16]:
# Importando as bibliotecas que serão utilizadas para popular as tabelas do projeto.

import pandas as pd
import pymysql as sql
import csv

In [17]:
# Lendo o arquivo .csv

df_modelo_aviao = pd.read_csv('modelo_aviao.csv', delimiter=';')
df_modelo_aviao.head()

,id_modelo,descricao_modelo,valor_venda,imagem_aviao
0,1003,EMB-110,5926920,https://www.airway.com.br/wp-content/uploads/2...
1,1001,EMB-100,5420874,https://www.beverlyhillsmagazine.com/wp-conten...
2,1005,EMB-110C,6142896,https://www2.fab.mil.br/musal/images/imagens_m...
3,1006,EMB-110E,5987430,https://upload.wikimedia.org/wikipedia/commons...
4,1007,EMB-110F,5845634,https://aerocorner.com/wp-content/uploads/2020...

In [18]:
# Cria conexão com MySQL, passando os parâmetros(servidor, senha e database)

conexao = sql.connect(host='localhost', user='root', password='admin', database='custos_transporte')

In [19]:
# Criando um cursor e executando um loop no dataframe para fazer o INSERT no banco de dados

cursor = conexao.cursor()

for index, row in df_modelo_aviao.iterrows():
    sql = "INSERT INTO modelo_aviao (id_modelo, descricao_modelo, valor_venda, imagem_aviao) VALUES (%s, %s, %s, %s)"
    val = (row['id_modelo'],row['descricao_modelo'],row['valor_venda'],row['imagem_aviao'])
    cursor.execute(sql, val)
    conexao.commit()
cursor.close()
conexao.close()