In [13]:
# Importando as bibliotecas que serão utilizadas para popular as tabelas do projeto.

import pandas as pd
import pymysql as sql
import csv

In [16]:
# Lendo o arquivo .csv

df_cd = pd.read_csv('cd.csv', delimiter=';')
df_cd.head()

,id_cd,rua_cd,num_cd,bairro_cd,cep_cd,cidade_cd,estado_cd,pais_cd
0,1,"Rodovia Presidente Dutra, Distrito, km 134",180,Eugênio de Melo,12247-004,São José dos Campos,SP,Brasil
1,2,Estrada Municipal Euclides Martins,2170,Bairro Industrial,14813-000,Gavião Peixoto,SP,Brasil
2,3,Av. Alcides Cagliari,2281,Res. Indaiá,18606-855,Botucatu,SP,Brasil
3,4,General Aviation Drive,1205,Me,32935,Melbourne,FL,USA
4,5,"Parque Da Indústria Aeronáutica De Évora, Herd...",1094,Horta Das Figueiras,7005-797,Évora,EV,Portugal

In [17]:
# Criando conexão com banco de dados

conexao = sql.connect(host='localhost', user='root', password='admin', database='custos_transporte')

In [18]:
# Criando um cursor e executando um loop no dataframe para fazer o INSERT no banco de dados

cursor = conexao.cursor()

for index, row in df_cd.iterrows():
    sql = "INSERT INTO centro_distribuicao (id_cd, rua_cd, num_cd, bairro_cd, cep_cd, cidade_cd, estado_cd, pais_cd) VALUES (%s, %s, %s, %s, %s, %s, %s, %s)"
    val = (row['id_cd'],row['rua_cd'],row['num_cd'],row['bairro_cd'],row['cep_cd'],row['cidade_cd'],row['estado_cd'],row['pais_cd'])
    cursor.execute(sql, val)
    conexao.commit()
cursor.close()
conexao.close()